.console__container {
  position: absolute;
  top: -38px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  width: 904px;
  height: 76px;
  background: var(--off-white);
  border: 1px solid var(--line);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 16px 32px;
}

.console__column {
  width: 50px;
  height: 100%;
  flex-grow: 1;
  border-right: solid 1px var(--line);
  margin-right: 24px;
  padding-right: 24px;
}

.console__column.wide {
  width: 100px;
}

.console__column.no-border {
  border: none;
  margin-right: 0;
}

.console__title {
  font-size: var(--bold-small);
  color: var(--primary3);
  font-weight: 700;
  margin-bottom: 4px;
}

.console__input {
  width: 100%;
  border: 0;
  outline: none;
  color: var(--title-active);
  font-size: var(--body-regular);
}

.console__input::placeholder {
  color: var(--label);
}

.console__select-container {
  display: flex;
  align-items: center;
}

.console__select {
  color: var(--title-active);
  font-size: var(--body-regular);
  outline: none;
  border: none;
}

.console__select--category,
.console__select--payment {
  flex-grow: 1;
}

.console__select-arrow {
  font-size: 14px;
  color: var(--label);
  margin-left: 8px;
}

.console__select select{
  display: none;
}

.console__text {
  color: var(--title-active);
  font-size: var(--body-regular);
}

.console__price-box {
  display: flex;
  align-items: center;
}

.console__type {
  color: var(--title-active);
  font-size: var(--body-large);
  margin-right: 8px;
  flex-grow: 1;
}

.console__input--price {
  text-align: right;
  margin-right: 8px;
}

.console__type.display-none {
  display: none;
}

.console__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: var(--off-white);
  border-radius: 10px;
  border: solid 2px var(--primary1);
  color: var(--primary1);
  font-size: 24px;
  padding-top: 4px;
}

.console__button--active {
  color: var(--off-white);
  background: var(--primary1);
}