.login {
  --github-color: #171515;
  font-size: var(--body-large);
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.login__left {
  width: 400px;
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding-right: 8vw;
  padding-bottom: 20vh;
  background-color: var(--off-white);
}

.login__button {
  z-index: 10;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 60px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.login__button > img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.login__button--github {
  background-color: var(--github-color);
  color: var(--off-white);
}

.login__button--github:hover {
  --github-color: #474141;
}

.login__button--guest {
  background-color: var(--primary1);
  color: var(--off-white);
}

.login__button--guest > img {
  background-color: var(--off-white);
  border-radius: 50%;
}

.login__button--guest:hover {
  background-color: var(--primary2);
}

.login__right {
  width: 600px;
  height: 100%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  background: var(--primary1);
}

.login__right img {
  width: 90%;
  padding-left: 5vw;
  padding-bottom: 30vh;
}

.ball {
  position: absolute;
  border-radius: 100%;
  opacity: 0.3;
}