.pie-chart-view--no-data {
  width: 100%;
  height: 425px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grouped-expenditure--no-data {
  width: 100%;
}

.expenditure-in-month {
  padding: 30px;
  display: flex;
  width: var(--inner-width);
  position: relative;
  top: -20px;
  background-color: var(--off-white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 0 auto;
}

.grouped-expenditure {
  width: 100%;
}