#toast {
  z-index: 10;
  opacity: 0;
  transition: 0.4s ease-out;
  position: fixed;
  top: 40px;
  right: -300px;
  min-width: 300px;
  height: 65px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 4px 20px rgba(0, 0, 0, 0.1);
  background-color: var(--off-white);
  display: flex;
  align-items: center;
  border-radius: 8px;
  color: var(--body);
}

#toast.appear {
  opacity: 1;
  top: 40px;
  right: 40px;
}

.toast__content {
  padding: 8px 16px;
}

.toast__title {
  font-size: var(--body-regular);
  font-weight: bold;
  margin-bottom: 4px;
}

.toast__title.info {
  color: var(--primary1);
}

.toast__title.success {
  color: var(--primary3);
}

.toast__title.error {
  color: var(--error);
}

.toast__message {
  font-size: var(--body-regular);

}